body{
    background-color: antiquewhite;
    margin: 0px;
    padding: 0px;
}
#featured{
    width: 1000px;
    height: 800px;
}
.featured_blog{
    width: 400px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    
    background-color: #f2f2f2;
    border: dashed 3px green;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}
@keyframes box{
    from { position: relative }
    to { position: relative;top: -7px; border: solid 3px green;
        box-shadow:10px 10px 3px black } 
}
.featured_blog:hover{
    animation-name: box;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    /*transition: all 0.5s;
    -webkit-transition:all 0.5s;*/
}
#read_more{
    opacity: 0.9;
    position:absolute;
    top:250px;
    left:140px;
    background-color:#4d90fe;
    text-decoration: none;
    padding:5px;
    color:white;
    font-family: open-sans,sans-serif;
    font-size: 20px;
    
}
#blog1{
    float:left;
}
#blog2{
    float:right;
}
#blog3{
    float:left;
}
#blog4{
    float:right;
}
.clear{
    clear:both;
}
.title{
    text-align: center;
    border-bottom: solid 3px #6495ED;
    margin: 5px 10px 5px;
    font-size: 35px;
    font-family: Comic Sans MS,Courier Prime Sans, sans-serif;
}
.intro{
    font-size: 20px;
    font-family: cursive,sans-serif;
}
footer{
    border: solid 1px black;
    margin-bottom:0px;
    background: #293d3d;
    color:grey;
    height:200px;
}
.footer_title{
    color:cyan;
    text-decoration: underline
}
#about{
    float:left;
    height: inherit;
    width: 500px;
    margin:5px 20px 5px 10px;
}
#category{
    height: inherit;
    width: 500px;
    margin:auto;
}
#follow{
    float:right;
    height: inherit;
    width: 500px;
}
#follow li{
    display: inline;
    list-style: none;
    padding: 5px;
}

