/* Blog CSS */

/* SETTING DEFAULT PROPERTIES OF ALL BROWSERS */
/*
* {
	margin: 0;
	padding: 0;
}
*/


/* FOR HEADER */
#header {
	width: 100%;
	height: 80px;
	background-color: white;
	position: fixed;
	z-index: 1;
}

.blog-title {
	float: left;
	margin-top: 10px;
	margin-left: 50px;
}

.blog-title h1 {
	padding-bottom: 20px;
}

#header nav {
	margin-top: 35px;
}

#header nav ul li {
	display: inline;
}

#header nav ul li a {
	padding: 15px 25px;
	margin-left: 10px;
	text-decoration: none;
	text-align: center;
	background-color: #3d5c5c;
	font-size: 20px;
	color: white;
	border-radius: 5px;
}

#header nav ul li a:hover {
		background-color: #5c8a8a;
}

#header nav ul.navigation {
	float: right;
	padding-right: 25px;
}

.clear {
	clear: both;
}

/* FOR CAROUSEL */

#caraousel {
	width: 100%;
	height: 700px;
	background-color: white;
}

#myCarousel {
    height: 620px;
    z-index: 0;
}

.item {
    height: 700px;
}
/* MAIN CONTENT */
/*#main {
	width: 75%;
	height: 800px;
	float: left;
	background-color: #00ffff;
    z-index: 1;
}

.post-container {
	position: absolute;
	margin: 30px auto;
	align-content: center;
}

.post {
	width: 400px;
	height: 300px;
	background-color: #ccffcc;
	float: left;
	margin: 20px;
}

#post1 {
	margin-left: 65px;
}

#post2 {
	margin-right: 65px;
}

#post3 {
	margin-left: 65px;
}

#post4 {
	margin-right: 65px;
}*/

/* SIDEBAR */
#sidebar {
	width: 25%;
	height: 800px;
	float: right;
	background-color: #ff9900;
}


/* FOOTER */
/*#footer {
	width: 100%;
	height: 200px;
	clear: both;
	background-color: #293d3d;
}



#footer ul {
    width: 500px;
    text-align: center;
    margin: 10px auto;
    padding-top: 60px;
    padding-bottom: 10px;
}

#footer ul li{
    display: inline;
}

#footer ul li a {
    padding: 10px;
}*/

/*#footer p {
	color: white;
    width: 500px;
    margin: 10px auto;
    text-align: center;
    margin-bottom: 10px;
}*/

/*#footer h6 {
    position: relative;
    color: white;
    text-align: center;
    top: 50px;
    font-size: 25px;
    
}*/

.img-radius {
    border-radius: 5px;
}

.profile-link {
    color: black;
}

.profile-link:hover {
    color: deeppink;
}
#copyright{
    text-align: center;
    margin:auto;
}



